<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.AuthActivity"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".main.group.detail.GroupDetailActivity"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name=".main.group.create.CreateGroupActivity"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_NATIVE_APP_KEY}" />
            </intent-filter>
        </activity>
        <activity android:name="com.comst.presentation.main.mypage.groupRequestsReceived.GroupRequestsReceivedActivity" />
        <activity android:name="com.comst.presentation.main.mypage.favoriteGroup.FavoriteGroupActivity" />

        <service
            android:name="com.comst.presentation.util.PDFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>